* {
    padding:0;
    margin:0;
    background:none;
    border:none;
    outline:none;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    height:12vh;
    background:#030303;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 10px #000;
}

header .menu-cont {
    position: absolute;
    display:block;
    left:80%;
    top:4vh;
}

.burger {
    cursor: pointer;
}

.nav-links {
    font-family: 'Libre Baskerville';
    position:absolute;
    right:0px;
    height:88vh;
    top:12vh;
    background:#801d1d;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    width:15%;
    transform:translateX(100%);
    transition:transform 0.5s ease;
}

.nav-links li {
    min-height: 14vh;
    list-style: none;
    color:#fff;
}

li a {
    text-decoration: none;
    text-transform:uppercase;
    color:#fff;
}

ul .copy {
    position:absolute;
    bottom:0;
}

@media screen and (max-width:1080px) {  
    .nav-links {
        width:70%;
    }
}


#hero {
    height: 100vh;
    background-image: url("../images/fondo1.jpg");
    display: block;
    font-family: 'Libre Baskerville';
    color:#fff;
    font-size:2.5rem;
    line-height: 50pt;
    text-align:center;
}

#hero label {
    display:block;
    padding-top:35vh;
}

#hero label p {
    font-size:1.5rem;
}

.nav-active {
    transform: translateX(0%);
}